footer {
  @include full-width;

  padding: 1.5rem 1rem;

  box-shadow: 0px 5px 15px 0px black;

  & > p {
    text-align: center;
  }

  & svg {
    width: 20px;
    height: 20px;
    transform: translateY(4px);
    fill: #ff0000;
  }

  & .author-site {
    margin-top: 16px;
  }

  & #currentYear {
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &::before {
      content: '';
      height: 2px;
      width: 160px;
      background-color: var(--text-color);
      border-radius: 50%;
      margin-bottom: 8px;
    }
  }
}