header {
  @include full-width;
  @include display-center-justified-between;

  padding: .5rem 1rem;

  box-shadow: 0px -5px 15px 0px black;

  & .header-container {
    @include display-center-justified-between;

    width: 100%;
  }
}